In [13]:
l = [i for i in range(11)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
l2 = list("abcdefghij")
l2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(data=[l, l2])
df

  0  1  2  3  4  5  6  7  8  9     10
0  0  1  2  3  4  5  6  7  8  9  10.0
1  a  b  c  d  e  f  g  h  i  j   NaN

In [17]:
df.fillna("x")

  0  1  2  3  4  5  6  7  8  9     10
0  0  1  2  3  4  5  6  7  8  9  10.0
1  a  b  c  d  e  f  g  h  i  j     x

In [29]:
t = ["11:40", "14:40", "3:40", "02:04"]
for temp in t:
    pos = temp.find(':')
    nt = temp[:pos]
    if int(nt) <= 12:
        print("AM")
    else:
        print("PM")

AM
PM
AM
AM

In [18]:
s = "af:"
s.find(':')

2